<header>
  <div class="main-container">
    <a href="/" class="title"> La Web del Gourmet </a>
    <nav class="links-container">
      <input type="checkbox" id="menu-opened" />
      <label for="menu-opened" class="menu-btn">
        <svg class="block" width="30" height="30">
          <use href="./assets/icons/menu.svg#menu"></use>
        </svg>
      </label>
      <ul>
        <li><a href="/" class="c-nav__link">Inicio</a></li>
        <li>
          <a href="/categoria" class="c-nav__link">Restaurantes</a>
        </li>
        <li>
          <a href="/links" class="c-nav__link">Enlaces</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
