<header>
  <div class="main-container">
    <a href="/" class="title"> La Web del Gourmet </a>
    <nav class="links-container">
      <input type="checkbox" id="menu-opened" />
      <label for="menu-opened" class="menu-btn">
        <svg aria-hidden="true" class="block" width="30" height="30" aria-label="Abrir menú de navegación">
          <use href="./assets/icons/menu.svg#menu"></use>
        </svg>
      </label>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li>
          <a href="/categoria">Restaurantes</a>
        </li>
        <li>
          <a href="/links">Enlaces</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
