<header>
  <div class="main-container">
    <a href="/" class="title"> La Web del Gourmet </a>
    <nav class="links-container">
      <input type="checkbox" id="menu-opened" />
      <label for="menu-opened" class="menu-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          class="block"
          viewBox="0 -960 960 960"
          fill="currentColor"
          id="menu"
          aria-label="Abrir menú de navegación"
        >
          <path class="line top" d="M120-640v-80h720v80H120Z" />
          <path class="line middle" d="M120-440v-80h720v80H120Z" />
          <path class="line bottom" d="M120-240v-80h720v80H120Z" />
        </svg>
      </label>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li>
          <a href="/categoria">Restaurantes</a>
        </li>
        <li>
          <a href="/links">Enlaces</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
