/* Estilo de los diferentes bloques específicos de mi interfaz */

.main-intro {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--accent-800);
  color: var(--text-50);

  h1 {
    font-size: 2rem;
    opacity: 0;
    animation: fadeInRight var(--animation-duration) forwards ease-out;
  }

  p {
    opacity: 0;
    animation: fadeInRight var(--animation-duration) 100ms forwards ease-out;
  }
}

.grid-restaurantes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  padding: 1rem;
}

.card-restaurante {
  background-color: var(--color-white);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  transition:
    transform var(--transition-duration) ease-in-out,
    box-shadow var(--transition-duration) ease-in-out;
  display: flex;
  flex-direction: column;
  height: 100%;
  opacity: 0;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgb(0 0 0 / 20%);

    .imagen-restaurante img {
      transform: scale(1.05);
      filter: grayscale(0);
    }
  }

  h2 {
    margin: 0;
    font-size: 1.5rem;
  }

  .imagen-restaurante {
    position: relative;
    height: 200px;
    overflow: hidden;

    .etiqueta {
      position: absolute;
      z-index: 1;
      padding: 0.5rem;
      border-radius: 0.5rem;
      top: 1rem;
      right: 1rem;
      background-color: color-mix(var(--color-white) 90%, transparent);
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: bold;
      color: var(--secondary-500);
    }

    img {
      height: 100%;
      width: 100%;
      aspect-ratio: 16/9;
      object-fit: cover;
      filter: grayscale(0.5);
      transition: transform var(--transition-duration) ease-in-out, filter var(--transition-duration) ease-in-out;
    }
  }

  .card-info {
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: color-mix(var(--text-900) 80%, transparent);

    h3 {
      font-size: 1.6rem;
      color: var(--accent-600);
    }

    a.btn {
      background-color: var(--primary-700);
      color: var(--text-50);

      &:hover {
        background-color: color-mix(
          var(--primary-600) 90%,
          var(--background-50)
        );
      }
    }
  }

  .descripcion-restaurante {
    flex-grow: 1;
  }

  &:nth-child(1) {
    animation: fadeInUp var(--animation-duration) ease-out 0s forwards;
  }
  &:nth-child(2) {
    animation: fadeInUp var(--animation-duration) ease-out 100ms forwards;
  }
  &:nth-child(3) {
    animation: fadeInUp var(--animation-duration) ease-out 200ms forwards;
  }
  &:nth-child(4) {
    animation: fadeInUp var(--animation-duration) ease-out 300ms forwards;
  }
  &:nth-child(5) {
    animation: fadeInUp var(--animation-duration) ease-out 400ms forwards;
  }
  &:nth-child(6) {
    animation: fadeInUp var(--animation-duration) ease-out 500ms forwards;
  }
}

.ubicacion {
  color: color-mix(var(--text-900) 60%, transparent);

  &::before {
    content: url(./assets/icons/location.svg);
    display: inline-block;
    height: 0.8rem;
    width: 0.8rem;
    margin-right: 0.2rem;
  }
}

.info-restaurante {
  color: color-mix(var(--text-900) 60%, var(--color-white));
  padding: 1rem;

  .intro-restaurante {
    display: grid;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

.galeria-restaurante {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  figcaption {
    text-align: center;
  }
}

section#map {
  height: 300px;
}

.video {
  width: 100%;
  aspect-ratio: 16/9;
}

@media (max-width: 1200px) {
  .info-restaurante {
    .intro-restaurante {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: 800px) {
  .galeria-restaurante {
    display: flex;
    flex-direction: column;
  }
}
