/* En esta capa va el estilo del la estructura principal de la página */

body.portada {
  background-image: image-set(
    url("./assets/images/portada.jpg?as=avif") type("image/avif"),
    url("./assets/images/portada.jpg?as=webp") type("image/webp"),
    url("./assets/images/portada.jpg") type("image/jpeg")
  );
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .portada-overlay {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    width: 600px;
    max-width: 90%;
    color: #f2f6ee;
    background-color: rgb(0 0 0 / 50%);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    text-align: center;

    .portada-title {
      font-size: 2.5rem;
      font-weight: bold;
    }

    .barbacoa {
      position: relative;
      top: 10px;

      .smoke {
        opacity: 0;
      }

      .smoke-left {
        animation: humo-sube 1.8s infinite ease-in-out;
      }

      .smoke-mid {
        animation: humo-sube 1.8s infinite ease-in-out 0.3s;
      }

      .smoke-right {
        animation: humo-sube 1.8s infinite ease-in-out 0.6s;
      }
    }

    .portada-subtitle {
      padding-top: 1rem;
      font-size: 2.5rem;
      opacity: 0;
      animation: fadeInRight var(--animation-duration) forwards ease-out;
    }

    .portada-text {
      animation: fadeInRight var(--animation-duration) 100ms forwards ease-out;
    }

    .insignia-container {
      margin-top: 1rem;
      margin-bottom: 1rem;
      filter: drop-shadow(2px 2px white) drop-shadow(-2px 2px white) drop-shadow(2px -2px white) drop-shadow(-2px -2px white)
      drop-shadow(0px 0px 8px black);
      opacity: 0;
      animation: fadeInRight var(--animation-duration) 200ms forwards ease-out;
    }

    .insignia {
      font-size: 0.8rem;
      background-image: image-set(
        url("./assets/images/certificado.jpg?as=avif&width=200")
          type("image/avif"),
        url("./assets/images/certificado.jpg?as=webp&width=200")
          type("image/webp"),
        url("./assets/images/certificado.jpg?width=200") type("image/jpeg")
      );
      background-size: contain;
      background-position-y: 200px;

      height: 120px;
      width: 100px;
      margin: auto;
      clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);
    }

    nav ul {
      display: flex;
      justify-content: center;
      gap: 1rem;
      font-weight: bold;

      a:hover {
        color: var(--text-500);
        text-decoration: underline;
        text-underline-offset: 0.25rem;
      }
    }
  }
}

header {
  padding: 1rem;
  background-color: color-mix(var(--color-white) 90%, transparent);
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 10;

  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-700);
  }

  nav ul {
    display: flex;
    gap: 1rem;
    transition: transform var(--transition-duration) ease-in-out;
  }

  a:not(.title) {
    padding: 0.5rem 1rem;
    transition: background-color var(--transition-duration) ease-in-out;
    &:hover {
      background-color: var(--primary-100);
    }
  }

  .menu-btn {
    display: none;
    position: relative;
    z-index: 20;
  }

  #menu-opened {
    display: none;
  }
}

footer .main-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: color-mix(var(--text-900) 80%, transparent);

  .title {
    font-size: 1.5rem;
  }
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

.grid-2cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .main-container {
    max-width: none;
  }

  /* Relación de aspecto 16:9*/
  @media (max-height: 675px) {
    body.portada {
      background-image: image-set(
        url("./assets/images/portada.jpg?as=avif&width=1200") type("image/avif"),
        url("./assets/images/portada.jpg?as=webp&width=1200") type("image/webp"),
        url("./assets/images/portada.jpg?width=1200") type("image/jpeg")
      );
    }
  }
}

@media (max-width: 800px) {
  header {
    nav {
      position: relative;

      .menu-btn {
        display: inline-block;
        color: var(--accent-800);
        transition: color var(--transition-duration) ease-in-out;

        .line {
          z-index: 10;
          transition:
            transform 0.3s ease,
            color 0.3s ease,
            opacity 0.3s ease;
          transform-origin: center;
          transform-box: fill-box;
        }
      }

      ul {
        padding-top: 5rem;
        background-color: var(--accent-800);
        position: fixed;
        display: block;
        align-items: start;
        width: 300px;
        top: 0;
        height: 100vh;
        right: 0;
        transform: translateX(100%);

        li {
          width: 100%;
          a {
            color: var(--color-white);
            display: inline-block;
            padding: 0.5rem 1rem;
            width: 100%;

            &:hover {
              background-color: var(--accent-500);
            }
          }
        }
      }

      #menu-opened:checked ~ ul {
        transform: translateX(0);
      }

      #menu-opened:checked ~ .menu-btn {
        color: var(--color-white);
        .top {
          transform: translateY(200px) rotate(45deg);
        }

        .middle {
          opacity: 0;
          transform: scaleX(0);
        }

        .bottom {
          transform: translateY(-200px) rotate(-45deg);
        }
      }
    }
  }

  .grid-2cols {
    grid-template-columns: 1fr;
  }
}
