/* Utility classes para estilos concretos globales (ocultar, centrar texto, etc.) */

.bg-primary {
  background-color: var(--primary-700);
  color: var(--text-50);
}

.bg-secondary {
  background-color: var(--secondary-700);
  color: var(--text-50);
}

.bg-accent {
  background-color: var(--accent-700);
  color: var(--text-50);
}

.text-primary {
  color: var(--text-500);
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.grid-center {
  justify-content: center;
  align-items: center;
}

.padding {
  padding: 1rem;
}
